# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal



# Static collected (if you run collectstatic)
# static/ 
staticfiles/
node_modules/

# Environments
.env
.env.*
.python-version
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
site/
htmlcov/
*.sqlite3
*.db
*.tmp
